body{
    background-image: url("./images/form.jpg");
    background-size: cover;
    color: aqua;
}
h1{
    text-align: center;
    font-family:'Pacifico', cursive;;
}
div{
    font-size: 22px;
    margin-left:635px;
    line-height:75px;
}
input{
    padding: 7px;
    width: 200px;
  
    
}
.gender{
    padding: 15px;
    margin-left:600px;
    margin-right: -40px;
    font-size: 22px;
}
.gender_heding{
margin-left: 550px;
}
.check_box{
    text-align: center;
    padding: 0px;
    margin:0px;
}
label input{
    line-height: 0px;
}
button{
    font-family: cursive;
    font-size: 15px;
    font-style: oblique;
    background-color: darkgray;
    text-align: center;
 margin-left:635px ;
    border:2px solid black;
}
a{
    text-decoration: none;
    color:black;
    padding: 22px;
    text-align: center;
    

}